//@main_color: #DC2850;
//@main_color_gradient: linear-gradient(90deg, #DC2850 0%, #d9496a 49.9%, #c67f8e 100%);
//@main_color_gradient2: linear-gradient(90deg, #dd496a 0%, #dd8196 49.9%, #d9c2c7 100%);
//@second_color: #28DCB4;
//@second_color_gradient: linear-gradient(90deg, #28DCB4 0%, #49d9c7 49.9%, #7fd9c2 100%);
//@second_color_gradient2: linear-gradient(90deg, #49d9c7 0%, #7fd9c2 49.9%, #c2d9c2 100%);

@main_color: #469bda;
@main_color_gradient: linear-gradient(67deg, #3794d9 0%, #7eb5de 49.9%, #a2c0d7 100%);
@main_color_gradient2: linear-gradient(67deg, #3f89c0 0%, #6594b8 49.9%, #a3b0bb 100%);
@second_color: #c59a74;
@second_color_gradient: linear-gradient(90deg, #c59a74 0%, #d4b499 49.9%, #d2baa2 100%);
@second_color_gradient2: linear-gradient(90deg, #c59a74 0%, #c2afa0 49.9%, #dbd8d5 100%);

@background_color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
@background_color_without_ellipse: linear-gradient(64deg, #141d27 0%, #090a0f 100%);
@background_color_without_ellipse2: linear-gradient(64deg, #141d27 0%, #090a0f 100%);

@border_color: #435a74;
@font_color: #aab5c7;