@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
footer {
  margin: auto;
  color: rgba(255, 255, 255, 0.45);
  font-weight: 700;
  font-size: 0.85em;
  padding: 10px;
  text-align: center;
  user-select: none;
  backdrop-filter: blur(2px);
}
#background {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  user-select: none;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 499px 1020px #FFF, 1475px 1447px #FFF, 1232px 932px #FFF, 790px 670px #FFF, 1442px 1253px #FFF, 1236px 818px #FFF, 1923px 11px #FFF, 956px 424px #FFF, 1879px 723px #FFF, 1210px 1723px #FFF, 1376px 649px #FFF, 1439px 618px #FFF, 916px 1228px #FFF, 1471px 1148px #FFF, 352px 1353px #FFF, 1039px 16px #FFF, 350px 844px #FFF, 848px 642px #FFF, 728px 1560px #FFF, 1516px 882px #FFF, 605px 2000px #FFF, 158px 1578px #FFF, 96px 1579px #FFF, 1822px 1996px #FFF, 1609px 922px #FFF, 371px 1370px #FFF, 878px 1420px #FFF, 911px 1833px #FFF, 151px 1463px #FFF, 579px 188px #FFF, 1450px 448px #FFF, 1359px 1626px #FFF, 1486px 1477px #FFF, 1135px 1614px #FFF, 39px 1263px #FFF, 325px 746px #FFF, 515px 1690px #FFF, 746px 1528px #FFF, 1097px 759px #FFF, 1963px 21px #FFF, 368px 1186px #FFF, 607px 1205px #FFF, 1498px 1320px #FFF, 641px 615px #FFF, 1238px 797px #FFF, 794px 635px #FFF, 1155px 984px #FFF, 1970px 946px #FFF, 496px 656px #FFF, 1816px 1488px #FFF, 944px 1065px #FFF, 241px 956px #FFF, 349px 511px #FFF, 1080px 238px #FFF, 720px 252px #FFF, 1007px 1999px #FFF, 1144px 1945px #FFF, 920px 1568px #FFF, 866px 1107px #FFF, 1505px 1428px #FFF, 1966px 1269px #FFF, 1814px 175px #FFF, 1192px 1926px #FFF, 1911px 504px #FFF, 1185px 1216px #FFF, 113px 975px #FFF, 186px 1432px #FFF, 1727px 753px #FFF, 1736px 207px #FFF, 20px 1300px #FFF, 720px 1376px #FFF, 1540px 1483px #FFF, 1301px 1071px #FFF, 1586px 1929px #FFF, 832px 644px #FFF, 1536px 1281px #FFF, 1419px 151px #FFF, 615px 67px #FFF, 513px 1486px #FFF, 1405px 1358px #FFF, 1465px 537px #FFF, 215px 1771px #FFF, 1463px 1009px #FFF, 1858px 1150px #FFF, 1489px 698px #FFF, 1793px 277px #FFF, 1581px 1753px #FFF, 1248px 1335px #FFF, 479px 1231px #FFF, 828px 551px #FFF, 689px 347px #FFF, 469px 554px #FFF, 337px 1000px #FFF, 1305px 1284px #FFF, 392px 1924px #FFF, 1766px 1912px #FFF, 769px 373px #FFF, 1402px 316px #FFF, 1255px 587px #FFF, 179px 229px #FFF, 1250px 167px #FFF, 444px 794px #FFF, 1280px 580px #FFF, 393px 1180px #FFF, 9px 1379px #FFF, 1155px 1697px #FFF, 743px 111px #FFF, 1878px 427px #FFF, 1493px 809px #FFF, 1074px 381px #FFF, 1221px 238px #FFF, 147px 1994px #FFF, 289px 1156px #FFF, 275px 1447px #FFF, 574px 1563px #FFF, 1791px 1886px #FFF, 416px 1317px #FFF, 702px 1020px #FFF, 638px 1855px #FFF, 1445px 1494px #FFF, 937px 1350px #FFF, 290px 1762px #FFF, 1918px 1050px #FFF, 738px 1376px #FFF, 538px 1475px #FFF, 497px 746px #FFF, 40px 521px #FFF, 1471px 1302px #FFF, 257px 1152px #FFF, 1171px 1713px #FFF, 943px 773px #FFF, 1962px 1335px #FFF, 1491px 488px #FFF, 1560px 1183px #FFF, 125px 1406px #FFF, 898px 1244px #FFF, 850px 1756px #FFF, 28px 466px #FFF, 637px 1138px #FFF, 1380px 386px #FFF, 1230px 26px #FFF, 255px 743px #FFF, 1451px 1156px #FFF, 16px 767px #FFF, 225px 1404px #FFF, 682px 1653px #FFF, 1577px 1206px #FFF, 411px 1262px #FFF, 1000px 1441px #FFF, 1110px 367px #FFF, 1351px 549px #FFF, 1670px 1519px #FFF, 14px 764px #FFF, 423px 18px #FFF, 1301px 1030px #FFF, 1722px 1724px #FFF, 3px 1441px #FFF, 1330px 579px #FFF, 1688px 1570px #FFF, 1086px 1388px #FFF, 488px 1470px #FFF, 1825px 796px #FFF, 467px 1210px #FFF, 1874px 1266px #FFF, 1500px 365px #FFF, 1524px 1850px #FFF, 767px 1012px #FFF, 1245px 64px #FFF, 1282px 1989px #FFF, 573px 1481px #FFF, 523px 977px #FFF, 1117px 1578px #FFF, 1366px 889px #FFF, 102px 942px #FFF, 342px 1461px #FFF, 1362px 272px #FFF, 825px 162px #FFF, 909px 287px #FFF, 83px 580px #FFF, 890px 713px #FFF, 1764px 1248px #FFF, 808px 1868px #FFF, 1093px 904px #FFF, 1308px 1912px #FFF, 181px 961px #FFF, 391px 1946px #FFF, 781px 1202px #FFF, 201px 1426px #FFF, 1930px 1060px #FFF, 228px 561px #FFF, 1888px 212px #FFF, 1207px 434px #FFF, 1592px 1483px #FFF, 1743px 257px #FFF, 158px 688px #FFF, 1962px 1336px #FFF, 1137px 603px #FFF, 1817px 575px #FFF, 851px 1697px #FFF, 1545px 185px #FFF, 1877px 530px #FFF, 1705px 37px #FFF, 1776px 1386px #FFF, 301px 1800px #FFF, 741px 1226px #FFF, 709px 24px #FFF, 1086px 1071px #FFF, 406px 983px #FFF, 814px 1801px #FFF, 273px 403px #FFF, 1141px 1166px #FFF, 1429px 837px #FFF, 19px 1747px #FFF, 1014px 85px #FFF, 1162px 353px #FFF, 247px 838px #FFF, 1204px 1018px #FFF, 1530px 202px #FFF, 830px 732px #FFF, 1753px 1604px #FFF, 1865px 1930px #FFF, 338px 989px #FFF, 1302px 1385px #FFF, 644px 1860px #FFF, 174px 615px #FFF, 752px 1442px #FFF, 1668px 1347px #FFF, 197px 917px #FFF, 222px 1384px #FFF, 763px 735px #FFF, 87px 863px #FFF, 1039px 62px #FFF, 1692px 1613px #FFF, 1210px 564px #FFF, 684px 1232px #FFF, 1693px 1588px #FFF, 1507px 1554px #FFF, 775px 1328px #FFF, 247px 1496px #FFF, 1551px 161px #FFF, 584px 668px #FFF, 109px 94px #FFF, 654px 460px #FFF, 1454px 1948px #FFF, 1332px 1350px #FFF, 1598px 176px #FFF, 742px 774px #FFF, 849px 413px #FFF, 517px 206px #FFF, 1013px 727px #FFF, 763px 790px #FFF, 1883px 243px #FFF, 1972px 1753px #FFF, 1783px 1596px #FFF, 439px 391px #FFF, 1054px 1058px #FFF, 617px 1444px #FFF, 1946px 356px #FFF, 1954px 844px #FFF, 823px 1512px #FFF, 849px 1456px #FFF, 1003px 516px #FFF, 282px 793px #FFF, 329px 847px #FFF, 515px 301px #FFF, 1830px 755px #FFF, 915px 810px #FFF, 1507px 600px #FFF, 143px 229px #FFF, 796px 1736px #FFF, 521px 148px #FFF, 839px 875px #FFF, 1597px 1165px #FFF, 794px 498px #FFF, 333px 1448px #FFF, 499px 1528px #FFF, 634px 1104px #FFF, 1968px 781px #FFF, 744px 1658px #FFF, 1559px 687px #FFF, 168px 902px #FFF, 1263px 1894px #FFF, 458px 1424px #FFF, 1142px 1px #FFF, 652px 510px #FFF, 846px 1339px #FFF, 1853px 602px #FFF, 1826px 1516px #FFF, 610px 1443px #FFF, 1393px 1233px #FFF, 1628px 562px #FFF, 1909px 524px #FFF, 1363px 1410px #FFF, 614px 1268px #FFF, 1721px 1897px #FFF, 1061px 905px #FFF, 1192px 1353px #FFF, 1632px 233px #FFF, 1477px 62px #FFF, 1851px 56px #FFF, 238px 1714px #FFF, 897px 1116px #FFF, 1074px 1071px #FFF, 1272px 1504px #FFF, 463px 13px #FFF, 1057px 1613px #FFF, 1989px 1753px #FFF, 1921px 1225px #FFF, 87px 70px #FFF, 320px 154px #FFF, 1158px 31px #FFF, 1226px 696px #FFF, 1323px 371px #FFF, 1145px 1526px #FFF, 994px 610px #FFF, 1026px 1877px #FFF, 687px 124px #FFF, 96px 1462px #FFF, 1073px 1089px #FFF, 271px 272px #FFF, 510px 1187px #FFF, 230px 728px #FFF, 389px 841px #FFF, 616px 418px #FFF, 876px 963px #FFF, 633px 215px #FFF, 155px 1875px #FFF, 1751px 460px #FFF, 1683px 889px #FFF, 1486px 820px #FFF, 1662px 915px #FFF, 6px 1668px #FFF, 1974px 461px #FFF, 14px 1307px #FFF, 1567px 680px #FFF, 1131px 1987px #FFF, 514px 1598px #FFF, 1737px 456px #FFF, 1604px 1941px #FFF, 445px 1896px #FFF, 1597px 62px #FFF, 1716px 1164px #FFF, 607px 707px #FFF, 1184px 774px #FFF, 649px 1859px #FFF, 1324px 1794px #FFF, 775px 1299px #FFF, 1253px 904px #FFF, 18px 1843px #FFF, 1743px 842px #FFF, 1553px 259px #FFF, 1170px 855px #FFF, 327px 673px #FFF, 1261px 1695px #FFF, 1771px 864px #FFF, 665px 217px #FFF, 1052px 1713px #FFF, 1049px 747px #FFF, 648px 162px #FFF, 527px 441px #FFF, 926px 562px #FFF, 1606px 669px #FFF, 268px 19px #FFF, 1735px 1201px #FFF, 171px 1002px #FFF, 703px 214px #FFF, 1915px 1253px #FFF, 233px 1501px #FFF, 915px 1664px #FFF, 1681px 1363px #FFF, 858px 258px #FFF, 96px 1147px #FFF, 657px 1932px #FFF, 1269px 1881px #FFF, 1131px 385px #FFF, 749px 218px #FFF, 1043px 126px #FFF, 1628px 1496px #FFF, 689px 2px #FFF, 224px 352px #FFF, 1202px 207px #FFF, 1711px 65px #FFF, 183px 1728px #FFF, 315px 1773px #FFF, 919px 368px #FFF, 688px 818px #FFF, 649px 1157px #FFF, 860px 153px #FFF, 532px 678px #FFF, 1419px 1034px #FFF, 1539px 60px #FFF, 1206px 1210px #FFF, 241px 589px #FFF, 1014px 1704px #FFF, 1976px 1082px #FFF, 1407px 1615px #FFF, 1126px 1292px #FFF, 1667px 613px #FFF, 1199px 250px #FFF, 234px 349px #FFF, 1838px 159px #FFF, 298px 814px #FFF, 420px 1293px #FFF, 1242px 72px #FFF, 272px 520px #FFF, 1406px 1733px #FFF, 1512px 102px #FFF, 1975px 1147px #FFF, 1947px 74px #FFF, 771px 562px #FFF, 6px 16px #FFF, 1930px 1090px #FFF, 1229px 222px #FFF, 97px 1989px #FFF, 1286px 302px #FFF, 921px 361px #FFF, 508px 716px #FFF, 83px 1884px #FFF, 1674px 1373px #FFF, 1357px 464px #FFF, 507px 910px #FFF, 1611px 372px #FFF, 378px 1222px #FFF, 1352px 966px #FFF, 1376px 497px #FFF, 1815px 135px #FFF, 337px 1405px #FFF, 360px 981px #FFF, 1958px 1294px #FFF, 1279px 1730px #FFF, 1185px 1266px #FFF, 275px 1398px #FFF, 1903px 844px #FFF, 1402px 1739px #FFF, 610px 1850px #FFF, 1971px 633px #FFF, 254px 1171px #FFF, 1860px 659px #FFF, 1719px 1581px #FFF, 1528px 1747px #FFF, 1013px 1179px #FFF, 1104px 653px #FFF, 653px 1925px #FFF, 1134px 153px #FFF, 925px 1607px #FFF, 425px 1075px #FFF, 1884px 1652px #FFF, 321px 1116px #FFF, 409px 735px #FFF, 1268px 1274px #FFF, 1921px 373px #FFF, 1887px 572px #FFF, 371px 847px #FFF, 1995px 1743px #FFF, 1771px 983px #FFF, 1789px 1088px #FFF, 443px 826px #FFF, 292px 1px #FFF, 1889px 898px #FFF, 10px 378px #FFF, 1458px 955px #FFF, 1208px 594px #FFF, 1228px 1341px #FFF, 1655px 1243px #FFF, 567px 1991px #FFF, 1805px 714px #FFF, 1490px 1975px #FFF, 936px 712px #FFF, 1996px 1590px #FFF, 1897px 492px #FFF, 1054px 269px #FFF, 104px 20px #FFF, 341px 832px #FFF, 487px 1940px #FFF, 633px 496px #FFF, 115px 1733px #FFF, 1840px 1963px #FFF, 1858px 546px #FFF, 651px 1183px #FFF, 131px 968px #FFF, 802px 324px #FFF, 1198px 400px #FFF, 976px 1094px #FFF, 775px 1909px #FFF, 1338px 162px #FFF, 1324px 1811px #FFF, 1208px 1428px #FFF, 559px 83px #FFF, 1203px 1018px #FFF, 811px 1489px #FFF, 12px 170px #FFF, 1683px 210px #FFF, 212px 884px #FFF, 278px 1115px #FFF, 653px 1511px #FFF, 584px 1007px #FFF, 666px 1502px #FFF, 1386px 1876px #FFF, 1177px 1679px #FFF, 1945px 293px #FFF, 1874px 986px #FFF, 918px 1629px #FFF, 1471px 59px #FFF, 669px 1662px #FFF, 1171px 1544px #FFF, 317px 476px #FFF, 1312px 1301px #FFF, 1267px 1440px #FFF, 936px 38px #FFF, 1531px 594px #FFF, 914px 512px #FFF, 1822px 362px #FFF, 737px 328px #FFF, 928px 1102px #FFF, 1971px 857px #FFF, 524px 978px #FFF, 1201px 394px #FFF, 1842px 1664px #FFF, 1455px 699px #FFF, 131px 1257px #FFF, 218px 78px #FFF, 1595px 365px #FFF, 1113px 1954px #FFF, 6px 304px #FFF, 1027px 169px #FFF, 840px 1772px #FFF, 1130px 1448px #FFF, 1042px 1078px #FFF, 32px 1146px #FFF, 541px 1884px #FFF, 1558px 1692px #FFF, 1710px 1189px #FFF, 1424px 1190px #FFF, 362px 1136px #FFF, 464px 1233px #FFF, 432px 955px #FFF, 1681px 813px #FFF, 1942px 1091px #FFF, 1759px 1314px #FFF, 591px 1729px #FFF, 495px 704px #FFF, 1179px 1494px #FFF, 1326px 586px #FFF, 549px 1562px #FFF, 1958px 139px #FFF, 533px 1412px #FFF, 69px 1997px #FFF, 788px 672px #FFF, 1119px 206px #FFF, 1914px 1112px #FFF, 866px 1288px #FFF, 1632px 766px #FFF, 441px 56px #FFF, 251px 1300px #FFF, 902px 515px #FFF, 925px 1215px #FFF, 396px 602px #FFF, 1594px 391px #FFF, 162px 1151px #FFF, 483px 919px #FFF, 1901px 1535px #FFF, 1431px 667px #FFF, 895px 1931px #FFF, 502px 1838px #FFF, 1994px 878px #FFF, 1248px 1101px #FFF, 441px 1057px #FFF, 527px 1498px #FFF, 1955px 406px #FFF, 934px 1550px #FFF, 1391px 1873px #FFF, 584px 658px #FFF, 1957px 1959px #FFF, 1756px 1305px #FFF, 1328px 1912px #FFF, 1119px 620px #FFF, 572px 255px #FFF, 1407px 1398px #FFF, 1197px 160px #FFF, 1102px 357px #FFF, 1574px 1827px #FFF, 1373px 304px #FFF, 1313px 690px #FFF, 1743px 1766px #FFF, 1682px 429px #FFF, 952px 1808px #FFF, 1535px 174px #FFF, 1299px 1803px #FFF, 1404px 381px #FFF, 796px 1290px #FFF, 1120px 2px #FFF, 1425px 870px #FFF, 502px 1237px #FFF, 207px 792px #FFF, 1246px 1951px #FFF, 1740px 1141px #FFF, 1002px 1234px #FFF, 1914px 1870px #FFF, 671px 237px #FFF, 1265px 512px #FFF, 752px 1397px #FFF, 51px 1342px #FFF, 424px 1833px #FFF, 399px 164px #FFF, 1230px 119px #FFF, 1306px 260px #FFF, 746px 10px #FFF, 373px 59px #FFF, 1829px 1047px #FFF, 1195px 1056px #FFF, 1852px 1219px #FFF, 987px 1830px #FFF, 203px 1008px #FFF, 1987px 775px #FFF, 1230px 716px #FFF, 1604px 1834px #FFF, 505px 187px #FFF, 622px 1827px #FFF, 1101px 1988px #FFF, 554px 983px #FFF, 312px 640px #FFF, 1893px 1180px #FFF, 768px 424px #FFF, 1811px 1154px #FFF, 1946px 814px #FFF, 664px 372px #FFF, 1153px 1287px #FFF, 652px 155px #FFF, 1657px 946px #FFF, 1225px 791px #FFF, 1894px 1765px #FFF, 1553px 7px #FFF, 70px 875px #FFF, 478px 448px #FFF, 278px 1923px #FFF, 392px 1191px #FFF, 841px 49px #FFF, 1564px 1084px #FFF, 586px 1574px #FFF, 1707px 1165px #FFF, 307px 1234px #FFF, 1714px 1660px #FFF, 1781px 1270px #FFF, 1165px 1964px #FFF, 688px 1650px #FFF, 1923px 823px #FFF, 1163px 826px #FFF, 2000px 671px #FFF, 502px 1043px #FFF, 619px 1165px #FFF, 1180px 569px #FFF, 1487px 1472px #FFF, 1419px 866px #FFF, 666px 1792px #FFF, 1603px 531px #FFF, 436px 6px #FFF, 1242px 999px #FFF, 171px 891px #FFF, 1116px 541px #FFF, 1228px 959px #FFF, 1325px 554px #FFF, 1447px 15px #FFF, 236px 102px #FFF, 1864px 72px #FFF, 0px 1203px #FFF, 1923px 1502px #FFF, 1703px 1393px #FFF, 1627px 709px #FFF, 1430px 1114px #FFF, 304px 1950px #FFF, 1733px 1610px #FFF, 1767px 973px #FFF, 151px 1186px #FFF, 1776px 208px #FFF, 588px 1236px #FFF, 1221px 1914px #FFF, 633px 661px #FFF, 509px 556px #FFF, 1582px 1903px #FFF, 1334px 489px #FFF, 1238px 870px #FFF, 1042px 1821px #FFF, 12px 109px #FFF, 633px 333px #FFF, 1056px 589px #FFF, 138px 802px #FFF, 1733px 616px #FFF, 1163px 680px #FFF, 1905px 835px #FFF, 1017px 17px #FFF, 223px 102px #FFF, 1073px 968px #FFF, 1430px 1985px #FFF, 213px 387px #FFF, 1647px 171px #FFF, 1773px 775px #FFF, 1743px 722px #FFF, 363px 1368px #FFF, 1066px 325px #FFF, 1358px 478px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 499px 1020px #FFF, 1475px 1447px #FFF, 1232px 932px #FFF, 790px 670px #FFF, 1442px 1253px #FFF, 1236px 818px #FFF, 1923px 11px #FFF, 956px 424px #FFF, 1879px 723px #FFF, 1210px 1723px #FFF, 1376px 649px #FFF, 1439px 618px #FFF, 916px 1228px #FFF, 1471px 1148px #FFF, 352px 1353px #FFF, 1039px 16px #FFF, 350px 844px #FFF, 848px 642px #FFF, 728px 1560px #FFF, 1516px 882px #FFF, 605px 2000px #FFF, 158px 1578px #FFF, 96px 1579px #FFF, 1822px 1996px #FFF, 1609px 922px #FFF, 371px 1370px #FFF, 878px 1420px #FFF, 911px 1833px #FFF, 151px 1463px #FFF, 579px 188px #FFF, 1450px 448px #FFF, 1359px 1626px #FFF, 1486px 1477px #FFF, 1135px 1614px #FFF, 39px 1263px #FFF, 325px 746px #FFF, 515px 1690px #FFF, 746px 1528px #FFF, 1097px 759px #FFF, 1963px 21px #FFF, 368px 1186px #FFF, 607px 1205px #FFF, 1498px 1320px #FFF, 641px 615px #FFF, 1238px 797px #FFF, 794px 635px #FFF, 1155px 984px #FFF, 1970px 946px #FFF, 496px 656px #FFF, 1816px 1488px #FFF, 944px 1065px #FFF, 241px 956px #FFF, 349px 511px #FFF, 1080px 238px #FFF, 720px 252px #FFF, 1007px 1999px #FFF, 1144px 1945px #FFF, 920px 1568px #FFF, 866px 1107px #FFF, 1505px 1428px #FFF, 1966px 1269px #FFF, 1814px 175px #FFF, 1192px 1926px #FFF, 1911px 504px #FFF, 1185px 1216px #FFF, 113px 975px #FFF, 186px 1432px #FFF, 1727px 753px #FFF, 1736px 207px #FFF, 20px 1300px #FFF, 720px 1376px #FFF, 1540px 1483px #FFF, 1301px 1071px #FFF, 1586px 1929px #FFF, 832px 644px #FFF, 1536px 1281px #FFF, 1419px 151px #FFF, 615px 67px #FFF, 513px 1486px #FFF, 1405px 1358px #FFF, 1465px 537px #FFF, 215px 1771px #FFF, 1463px 1009px #FFF, 1858px 1150px #FFF, 1489px 698px #FFF, 1793px 277px #FFF, 1581px 1753px #FFF, 1248px 1335px #FFF, 479px 1231px #FFF, 828px 551px #FFF, 689px 347px #FFF, 469px 554px #FFF, 337px 1000px #FFF, 1305px 1284px #FFF, 392px 1924px #FFF, 1766px 1912px #FFF, 769px 373px #FFF, 1402px 316px #FFF, 1255px 587px #FFF, 179px 229px #FFF, 1250px 167px #FFF, 444px 794px #FFF, 1280px 580px #FFF, 393px 1180px #FFF, 9px 1379px #FFF, 1155px 1697px #FFF, 743px 111px #FFF, 1878px 427px #FFF, 1493px 809px #FFF, 1074px 381px #FFF, 1221px 238px #FFF, 147px 1994px #FFF, 289px 1156px #FFF, 275px 1447px #FFF, 574px 1563px #FFF, 1791px 1886px #FFF, 416px 1317px #FFF, 702px 1020px #FFF, 638px 1855px #FFF, 1445px 1494px #FFF, 937px 1350px #FFF, 290px 1762px #FFF, 1918px 1050px #FFF, 738px 1376px #FFF, 538px 1475px #FFF, 497px 746px #FFF, 40px 521px #FFF, 1471px 1302px #FFF, 257px 1152px #FFF, 1171px 1713px #FFF, 943px 773px #FFF, 1962px 1335px #FFF, 1491px 488px #FFF, 1560px 1183px #FFF, 125px 1406px #FFF, 898px 1244px #FFF, 850px 1756px #FFF, 28px 466px #FFF, 637px 1138px #FFF, 1380px 386px #FFF, 1230px 26px #FFF, 255px 743px #FFF, 1451px 1156px #FFF, 16px 767px #FFF, 225px 1404px #FFF, 682px 1653px #FFF, 1577px 1206px #FFF, 411px 1262px #FFF, 1000px 1441px #FFF, 1110px 367px #FFF, 1351px 549px #FFF, 1670px 1519px #FFF, 14px 764px #FFF, 423px 18px #FFF, 1301px 1030px #FFF, 1722px 1724px #FFF, 3px 1441px #FFF, 1330px 579px #FFF, 1688px 1570px #FFF, 1086px 1388px #FFF, 488px 1470px #FFF, 1825px 796px #FFF, 467px 1210px #FFF, 1874px 1266px #FFF, 1500px 365px #FFF, 1524px 1850px #FFF, 767px 1012px #FFF, 1245px 64px #FFF, 1282px 1989px #FFF, 573px 1481px #FFF, 523px 977px #FFF, 1117px 1578px #FFF, 1366px 889px #FFF, 102px 942px #FFF, 342px 1461px #FFF, 1362px 272px #FFF, 825px 162px #FFF, 909px 287px #FFF, 83px 580px #FFF, 890px 713px #FFF, 1764px 1248px #FFF, 808px 1868px #FFF, 1093px 904px #FFF, 1308px 1912px #FFF, 181px 961px #FFF, 391px 1946px #FFF, 781px 1202px #FFF, 201px 1426px #FFF, 1930px 1060px #FFF, 228px 561px #FFF, 1888px 212px #FFF, 1207px 434px #FFF, 1592px 1483px #FFF, 1743px 257px #FFF, 158px 688px #FFF, 1962px 1336px #FFF, 1137px 603px #FFF, 1817px 575px #FFF, 851px 1697px #FFF, 1545px 185px #FFF, 1877px 530px #FFF, 1705px 37px #FFF, 1776px 1386px #FFF, 301px 1800px #FFF, 741px 1226px #FFF, 709px 24px #FFF, 1086px 1071px #FFF, 406px 983px #FFF, 814px 1801px #FFF, 273px 403px #FFF, 1141px 1166px #FFF, 1429px 837px #FFF, 19px 1747px #FFF, 1014px 85px #FFF, 1162px 353px #FFF, 247px 838px #FFF, 1204px 1018px #FFF, 1530px 202px #FFF, 830px 732px #FFF, 1753px 1604px #FFF, 1865px 1930px #FFF, 338px 989px #FFF, 1302px 1385px #FFF, 644px 1860px #FFF, 174px 615px #FFF, 752px 1442px #FFF, 1668px 1347px #FFF, 197px 917px #FFF, 222px 1384px #FFF, 763px 735px #FFF, 87px 863px #FFF, 1039px 62px #FFF, 1692px 1613px #FFF, 1210px 564px #FFF, 684px 1232px #FFF, 1693px 1588px #FFF, 1507px 1554px #FFF, 775px 1328px #FFF, 247px 1496px #FFF, 1551px 161px #FFF, 584px 668px #FFF, 109px 94px #FFF, 654px 460px #FFF, 1454px 1948px #FFF, 1332px 1350px #FFF, 1598px 176px #FFF, 742px 774px #FFF, 849px 413px #FFF, 517px 206px #FFF, 1013px 727px #FFF, 763px 790px #FFF, 1883px 243px #FFF, 1972px 1753px #FFF, 1783px 1596px #FFF, 439px 391px #FFF, 1054px 1058px #FFF, 617px 1444px #FFF, 1946px 356px #FFF, 1954px 844px #FFF, 823px 1512px #FFF, 849px 1456px #FFF, 1003px 516px #FFF, 282px 793px #FFF, 329px 847px #FFF, 515px 301px #FFF, 1830px 755px #FFF, 915px 810px #FFF, 1507px 600px #FFF, 143px 229px #FFF, 796px 1736px #FFF, 521px 148px #FFF, 839px 875px #FFF, 1597px 1165px #FFF, 794px 498px #FFF, 333px 1448px #FFF, 499px 1528px #FFF, 634px 1104px #FFF, 1968px 781px #FFF, 744px 1658px #FFF, 1559px 687px #FFF, 168px 902px #FFF, 1263px 1894px #FFF, 458px 1424px #FFF, 1142px 1px #FFF, 652px 510px #FFF, 846px 1339px #FFF, 1853px 602px #FFF, 1826px 1516px #FFF, 610px 1443px #FFF, 1393px 1233px #FFF, 1628px 562px #FFF, 1909px 524px #FFF, 1363px 1410px #FFF, 614px 1268px #FFF, 1721px 1897px #FFF, 1061px 905px #FFF, 1192px 1353px #FFF, 1632px 233px #FFF, 1477px 62px #FFF, 1851px 56px #FFF, 238px 1714px #FFF, 897px 1116px #FFF, 1074px 1071px #FFF, 1272px 1504px #FFF, 463px 13px #FFF, 1057px 1613px #FFF, 1989px 1753px #FFF, 1921px 1225px #FFF, 87px 70px #FFF, 320px 154px #FFF, 1158px 31px #FFF, 1226px 696px #FFF, 1323px 371px #FFF, 1145px 1526px #FFF, 994px 610px #FFF, 1026px 1877px #FFF, 687px 124px #FFF, 96px 1462px #FFF, 1073px 1089px #FFF, 271px 272px #FFF, 510px 1187px #FFF, 230px 728px #FFF, 389px 841px #FFF, 616px 418px #FFF, 876px 963px #FFF, 633px 215px #FFF, 155px 1875px #FFF, 1751px 460px #FFF, 1683px 889px #FFF, 1486px 820px #FFF, 1662px 915px #FFF, 6px 1668px #FFF, 1974px 461px #FFF, 14px 1307px #FFF, 1567px 680px #FFF, 1131px 1987px #FFF, 514px 1598px #FFF, 1737px 456px #FFF, 1604px 1941px #FFF, 445px 1896px #FFF, 1597px 62px #FFF, 1716px 1164px #FFF, 607px 707px #FFF, 1184px 774px #FFF, 649px 1859px #FFF, 1324px 1794px #FFF, 775px 1299px #FFF, 1253px 904px #FFF, 18px 1843px #FFF, 1743px 842px #FFF, 1553px 259px #FFF, 1170px 855px #FFF, 327px 673px #FFF, 1261px 1695px #FFF, 1771px 864px #FFF, 665px 217px #FFF, 1052px 1713px #FFF, 1049px 747px #FFF, 648px 162px #FFF, 527px 441px #FFF, 926px 562px #FFF, 1606px 669px #FFF, 268px 19px #FFF, 1735px 1201px #FFF, 171px 1002px #FFF, 703px 214px #FFF, 1915px 1253px #FFF, 233px 1501px #FFF, 915px 1664px #FFF, 1681px 1363px #FFF, 858px 258px #FFF, 96px 1147px #FFF, 657px 1932px #FFF, 1269px 1881px #FFF, 1131px 385px #FFF, 749px 218px #FFF, 1043px 126px #FFF, 1628px 1496px #FFF, 689px 2px #FFF, 224px 352px #FFF, 1202px 207px #FFF, 1711px 65px #FFF, 183px 1728px #FFF, 315px 1773px #FFF, 919px 368px #FFF, 688px 818px #FFF, 649px 1157px #FFF, 860px 153px #FFF, 532px 678px #FFF, 1419px 1034px #FFF, 1539px 60px #FFF, 1206px 1210px #FFF, 241px 589px #FFF, 1014px 1704px #FFF, 1976px 1082px #FFF, 1407px 1615px #FFF, 1126px 1292px #FFF, 1667px 613px #FFF, 1199px 250px #FFF, 234px 349px #FFF, 1838px 159px #FFF, 298px 814px #FFF, 420px 1293px #FFF, 1242px 72px #FFF, 272px 520px #FFF, 1406px 1733px #FFF, 1512px 102px #FFF, 1975px 1147px #FFF, 1947px 74px #FFF, 771px 562px #FFF, 6px 16px #FFF, 1930px 1090px #FFF, 1229px 222px #FFF, 97px 1989px #FFF, 1286px 302px #FFF, 921px 361px #FFF, 508px 716px #FFF, 83px 1884px #FFF, 1674px 1373px #FFF, 1357px 464px #FFF, 507px 910px #FFF, 1611px 372px #FFF, 378px 1222px #FFF, 1352px 966px #FFF, 1376px 497px #FFF, 1815px 135px #FFF, 337px 1405px #FFF, 360px 981px #FFF, 1958px 1294px #FFF, 1279px 1730px #FFF, 1185px 1266px #FFF, 275px 1398px #FFF, 1903px 844px #FFF, 1402px 1739px #FFF, 610px 1850px #FFF, 1971px 633px #FFF, 254px 1171px #FFF, 1860px 659px #FFF, 1719px 1581px #FFF, 1528px 1747px #FFF, 1013px 1179px #FFF, 1104px 653px #FFF, 653px 1925px #FFF, 1134px 153px #FFF, 925px 1607px #FFF, 425px 1075px #FFF, 1884px 1652px #FFF, 321px 1116px #FFF, 409px 735px #FFF, 1268px 1274px #FFF, 1921px 373px #FFF, 1887px 572px #FFF, 371px 847px #FFF, 1995px 1743px #FFF, 1771px 983px #FFF, 1789px 1088px #FFF, 443px 826px #FFF, 292px 1px #FFF, 1889px 898px #FFF, 10px 378px #FFF, 1458px 955px #FFF, 1208px 594px #FFF, 1228px 1341px #FFF, 1655px 1243px #FFF, 567px 1991px #FFF, 1805px 714px #FFF, 1490px 1975px #FFF, 936px 712px #FFF, 1996px 1590px #FFF, 1897px 492px #FFF, 1054px 269px #FFF, 104px 20px #FFF, 341px 832px #FFF, 487px 1940px #FFF, 633px 496px #FFF, 115px 1733px #FFF, 1840px 1963px #FFF, 1858px 546px #FFF, 651px 1183px #FFF, 131px 968px #FFF, 802px 324px #FFF, 1198px 400px #FFF, 976px 1094px #FFF, 775px 1909px #FFF, 1338px 162px #FFF, 1324px 1811px #FFF, 1208px 1428px #FFF, 559px 83px #FFF, 1203px 1018px #FFF, 811px 1489px #FFF, 12px 170px #FFF, 1683px 210px #FFF, 212px 884px #FFF, 278px 1115px #FFF, 653px 1511px #FFF, 584px 1007px #FFF, 666px 1502px #FFF, 1386px 1876px #FFF, 1177px 1679px #FFF, 1945px 293px #FFF, 1874px 986px #FFF, 918px 1629px #FFF, 1471px 59px #FFF, 669px 1662px #FFF, 1171px 1544px #FFF, 317px 476px #FFF, 1312px 1301px #FFF, 1267px 1440px #FFF, 936px 38px #FFF, 1531px 594px #FFF, 914px 512px #FFF, 1822px 362px #FFF, 737px 328px #FFF, 928px 1102px #FFF, 1971px 857px #FFF, 524px 978px #FFF, 1201px 394px #FFF, 1842px 1664px #FFF, 1455px 699px #FFF, 131px 1257px #FFF, 218px 78px #FFF, 1595px 365px #FFF, 1113px 1954px #FFF, 6px 304px #FFF, 1027px 169px #FFF, 840px 1772px #FFF, 1130px 1448px #FFF, 1042px 1078px #FFF, 32px 1146px #FFF, 541px 1884px #FFF, 1558px 1692px #FFF, 1710px 1189px #FFF, 1424px 1190px #FFF, 362px 1136px #FFF, 464px 1233px #FFF, 432px 955px #FFF, 1681px 813px #FFF, 1942px 1091px #FFF, 1759px 1314px #FFF, 591px 1729px #FFF, 495px 704px #FFF, 1179px 1494px #FFF, 1326px 586px #FFF, 549px 1562px #FFF, 1958px 139px #FFF, 533px 1412px #FFF, 69px 1997px #FFF, 788px 672px #FFF, 1119px 206px #FFF, 1914px 1112px #FFF, 866px 1288px #FFF, 1632px 766px #FFF, 441px 56px #FFF, 251px 1300px #FFF, 902px 515px #FFF, 925px 1215px #FFF, 396px 602px #FFF, 1594px 391px #FFF, 162px 1151px #FFF, 483px 919px #FFF, 1901px 1535px #FFF, 1431px 667px #FFF, 895px 1931px #FFF, 502px 1838px #FFF, 1994px 878px #FFF, 1248px 1101px #FFF, 441px 1057px #FFF, 527px 1498px #FFF, 1955px 406px #FFF, 934px 1550px #FFF, 1391px 1873px #FFF, 584px 658px #FFF, 1957px 1959px #FFF, 1756px 1305px #FFF, 1328px 1912px #FFF, 1119px 620px #FFF, 572px 255px #FFF, 1407px 1398px #FFF, 1197px 160px #FFF, 1102px 357px #FFF, 1574px 1827px #FFF, 1373px 304px #FFF, 1313px 690px #FFF, 1743px 1766px #FFF, 1682px 429px #FFF, 952px 1808px #FFF, 1535px 174px #FFF, 1299px 1803px #FFF, 1404px 381px #FFF, 796px 1290px #FFF, 1120px 2px #FFF, 1425px 870px #FFF, 502px 1237px #FFF, 207px 792px #FFF, 1246px 1951px #FFF, 1740px 1141px #FFF, 1002px 1234px #FFF, 1914px 1870px #FFF, 671px 237px #FFF, 1265px 512px #FFF, 752px 1397px #FFF, 51px 1342px #FFF, 424px 1833px #FFF, 399px 164px #FFF, 1230px 119px #FFF, 1306px 260px #FFF, 746px 10px #FFF, 373px 59px #FFF, 1829px 1047px #FFF, 1195px 1056px #FFF, 1852px 1219px #FFF, 987px 1830px #FFF, 203px 1008px #FFF, 1987px 775px #FFF, 1230px 716px #FFF, 1604px 1834px #FFF, 505px 187px #FFF, 622px 1827px #FFF, 1101px 1988px #FFF, 554px 983px #FFF, 312px 640px #FFF, 1893px 1180px #FFF, 768px 424px #FFF, 1811px 1154px #FFF, 1946px 814px #FFF, 664px 372px #FFF, 1153px 1287px #FFF, 652px 155px #FFF, 1657px 946px #FFF, 1225px 791px #FFF, 1894px 1765px #FFF, 1553px 7px #FFF, 70px 875px #FFF, 478px 448px #FFF, 278px 1923px #FFF, 392px 1191px #FFF, 841px 49px #FFF, 1564px 1084px #FFF, 586px 1574px #FFF, 1707px 1165px #FFF, 307px 1234px #FFF, 1714px 1660px #FFF, 1781px 1270px #FFF, 1165px 1964px #FFF, 688px 1650px #FFF, 1923px 823px #FFF, 1163px 826px #FFF, 2000px 671px #FFF, 502px 1043px #FFF, 619px 1165px #FFF, 1180px 569px #FFF, 1487px 1472px #FFF, 1419px 866px #FFF, 666px 1792px #FFF, 1603px 531px #FFF, 436px 6px #FFF, 1242px 999px #FFF, 171px 891px #FFF, 1116px 541px #FFF, 1228px 959px #FFF, 1325px 554px #FFF, 1447px 15px #FFF, 236px 102px #FFF, 1864px 72px #FFF, 0px 1203px #FFF, 1923px 1502px #FFF, 1703px 1393px #FFF, 1627px 709px #FFF, 1430px 1114px #FFF, 304px 1950px #FFF, 1733px 1610px #FFF, 1767px 973px #FFF, 151px 1186px #FFF, 1776px 208px #FFF, 588px 1236px #FFF, 1221px 1914px #FFF, 633px 661px #FFF, 509px 556px #FFF, 1582px 1903px #FFF, 1334px 489px #FFF, 1238px 870px #FFF, 1042px 1821px #FFF, 12px 109px #FFF, 633px 333px #FFF, 1056px 589px #FFF, 138px 802px #FFF, 1733px 616px #FFF, 1163px 680px #FFF, 1905px 835px #FFF, 1017px 17px #FFF, 223px 102px #FFF, 1073px 968px #FFF, 1430px 1985px #FFF, 213px 387px #FFF, 1647px 171px #FFF, 1773px 775px #FFF, 1743px 722px #FFF, 363px 1368px #FFF, 1066px 325px #FFF, 1358px 478px #FFF;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1115px 3px #FFF, 1218px 827px #FFF, 364px 488px #FFF, 1747px 913px #FFF, 459px 1962px #FFF, 769px 1519px #FFF, 388px 1690px #FFF, 1792px 165px #FFF, 400px 642px #FFF, 1319px 1777px #FFF, 1602px 1232px #FFF, 651px 276px #FFF, 603px 830px #FFF, 1076px 1156px #FFF, 118px 666px #FFF, 1839px 603px #FFF, 1095px 1475px #FFF, 414px 519px #FFF, 1895px 1569px #FFF, 504px 1865px #FFF, 901px 1806px #FFF, 710px 51px #FFF, 1267px 744px #FFF, 770px 20px #FFF, 1055px 983px #FFF, 896px 786px #FFF, 163px 270px #FFF, 1313px 1345px #FFF, 1680px 1214px #FFF, 860px 251px #FFF, 1425px 1368px #FFF, 954px 1537px #FFF, 209px 1535px #FFF, 674px 695px #FFF, 1675px 80px #FFF, 1720px 1851px #FFF, 1175px 553px #FFF, 716px 470px #FFF, 1845px 265px #FFF, 464px 543px #FFF, 1129px 429px #FFF, 707px 1905px #FFF, 325px 967px #FFF, 764px 1331px #FFF, 1966px 1882px #FFF, 10px 346px #FFF, 341px 1615px #FFF, 1415px 1533px #FFF, 1983px 920px #FFF, 473px 381px #FFF, 1911px 172px #FFF, 1264px 1374px #FFF, 9px 1624px #FFF, 759px 111px #FFF, 1666px 582px #FFF, 17px 514px #FFF, 740px 1880px #FFF, 1863px 1219px #FFF, 1331px 1324px #FFF, 1420px 1036px #FFF, 643px 278px #FFF, 1056px 1699px #FFF, 366px 78px #FFF, 970px 183px #FFF, 669px 1707px #FFF, 716px 1094px #FFF, 837px 839px #FFF, 1087px 1783px #FFF, 1956px 1230px #FFF, 61px 78px #FFF, 374px 554px #FFF, 1206px 280px #FFF, 512px 920px #FFF, 609px 1314px #FFF, 557px 187px #FFF, 1702px 827px #FFF, 257px 1539px #FFF, 516px 583px #FFF, 1107px 1325px #FFF, 114px 1282px #FFF, 1155px 99px #FFF, 1832px 747px #FFF, 1798px 1955px #FFF, 1541px 179px #FFF, 1917px 1339px #FFF, 1405px 1967px #FFF, 696px 241px #FFF, 33px 1520px #FFF, 517px 1445px #FFF, 1974px 1533px #FFF, 168px 1450px #FFF, 1548px 1319px #FFF, 317px 45px #FFF, 966px 1606px #FFF, 785px 1724px #FFF, 1456px 1168px #FFF, 1709px 1636px #FFF, 1637px 598px #FFF, 1626px 1250px #FFF, 1495px 322px #FFF, 188px 466px #FFF, 1466px 1530px #FFF, 946px 1713px #FFF, 1292px 1985px #FFF, 945px 549px #FFF, 1529px 801px #FFF, 919px 330px #FFF, 686px 938px #FFF, 983px 710px #FFF, 1472px 1032px #FFF, 1890px 641px #FFF, 697px 1857px #FFF, 1567px 1741px #FFF, 1584px 656px #FFF, 1359px 1231px #FFF, 1640px 1120px #FFF, 1499px 1990px #FFF, 1085px 1772px #FFF, 507px 803px #FFF, 1552px 1619px #FFF, 1399px 1115px #FFF, 1746px 1294px #FFF, 779px 1324px #FFF, 1699px 1057px #FFF, 13px 1945px #FFF, 460px 1017px #FFF, 1992px 758px #FFF, 29px 1353px #FFF, 1633px 252px #FFF, 717px 377px #FFF, 744px 824px #FFF, 381px 557px #FFF, 1447px 580px #FFF, 1669px 541px #FFF, 27px 149px #FFF, 6px 936px #FFF, 967px 579px #FFF, 1178px 1490px #FFF, 1345px 1726px #FFF, 1966px 821px #FFF, 1714px 273px #FFF, 224px 128px #FFF, 65px 1893px #FFF, 981px 1726px #FFF, 1288px 1808px #FFF, 1315px 974px #FFF, 1816px 583px #FFF, 1212px 1451px #FFF, 1008px 209px #FFF, 1924px 1186px #FFF, 1395px 520px #FFF, 367px 1827px #FFF, 831px 1133px #FFF, 37px 473px #FFF, 517px 607px #FFF, 187px 1597px #FFF, 549px 232px #FFF, 582px 1099px #FFF, 1967px 927px #FFF, 547px 1546px #FFF, 89px 1753px #FFF, 1421px 766px #FFF, 1575px 725px #FFF, 737px 5px #FFF, 1998px 1672px #FFF, 631px 60px #FFF, 564px 803px #FFF, 164px 54px #FFF, 1179px 417px #FFF, 915px 1871px #FFF, 1134px 1499px #FFF, 47px 119px #FFF, 751px 1664px #FFF, 1052px 1621px #FFF, 86px 1144px #FFF, 1562px 600px #FFF, 971px 965px #FFF, 1918px 1085px #FFF, 351px 1815px #FFF, 4px 785px #FFF, 318px 1073px #FFF, 1955px 936px #FFF, 1073px 1861px #FFF, 57px 1427px #FFF, 732px 1804px #FFF, 729px 1313px #FFF, 376px 1771px #FFF, 1645px 1196px #FFF, 902px 1770px #FFF, 1068px 635px #FFF, 726px 275px #FFF, 148px 797px #FFF, 1468px 1484px #FFF, 309px 146px #FFF, 1123px 1450px #FFF, 930px 1190px #FFF, 622px 353px #FFF, 1868px 1726px #FFF, 1766px 1566px #FFF, 1714px 1720px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1115px 3px #FFF, 1218px 827px #FFF, 364px 488px #FFF, 1747px 913px #FFF, 459px 1962px #FFF, 769px 1519px #FFF, 388px 1690px #FFF, 1792px 165px #FFF, 400px 642px #FFF, 1319px 1777px #FFF, 1602px 1232px #FFF, 651px 276px #FFF, 603px 830px #FFF, 1076px 1156px #FFF, 118px 666px #FFF, 1839px 603px #FFF, 1095px 1475px #FFF, 414px 519px #FFF, 1895px 1569px #FFF, 504px 1865px #FFF, 901px 1806px #FFF, 710px 51px #FFF, 1267px 744px #FFF, 770px 20px #FFF, 1055px 983px #FFF, 896px 786px #FFF, 163px 270px #FFF, 1313px 1345px #FFF, 1680px 1214px #FFF, 860px 251px #FFF, 1425px 1368px #FFF, 954px 1537px #FFF, 209px 1535px #FFF, 674px 695px #FFF, 1675px 80px #FFF, 1720px 1851px #FFF, 1175px 553px #FFF, 716px 470px #FFF, 1845px 265px #FFF, 464px 543px #FFF, 1129px 429px #FFF, 707px 1905px #FFF, 325px 967px #FFF, 764px 1331px #FFF, 1966px 1882px #FFF, 10px 346px #FFF, 341px 1615px #FFF, 1415px 1533px #FFF, 1983px 920px #FFF, 473px 381px #FFF, 1911px 172px #FFF, 1264px 1374px #FFF, 9px 1624px #FFF, 759px 111px #FFF, 1666px 582px #FFF, 17px 514px #FFF, 740px 1880px #FFF, 1863px 1219px #FFF, 1331px 1324px #FFF, 1420px 1036px #FFF, 643px 278px #FFF, 1056px 1699px #FFF, 366px 78px #FFF, 970px 183px #FFF, 669px 1707px #FFF, 716px 1094px #FFF, 837px 839px #FFF, 1087px 1783px #FFF, 1956px 1230px #FFF, 61px 78px #FFF, 374px 554px #FFF, 1206px 280px #FFF, 512px 920px #FFF, 609px 1314px #FFF, 557px 187px #FFF, 1702px 827px #FFF, 257px 1539px #FFF, 516px 583px #FFF, 1107px 1325px #FFF, 114px 1282px #FFF, 1155px 99px #FFF, 1832px 747px #FFF, 1798px 1955px #FFF, 1541px 179px #FFF, 1917px 1339px #FFF, 1405px 1967px #FFF, 696px 241px #FFF, 33px 1520px #FFF, 517px 1445px #FFF, 1974px 1533px #FFF, 168px 1450px #FFF, 1548px 1319px #FFF, 317px 45px #FFF, 966px 1606px #FFF, 785px 1724px #FFF, 1456px 1168px #FFF, 1709px 1636px #FFF, 1637px 598px #FFF, 1626px 1250px #FFF, 1495px 322px #FFF, 188px 466px #FFF, 1466px 1530px #FFF, 946px 1713px #FFF, 1292px 1985px #FFF, 945px 549px #FFF, 1529px 801px #FFF, 919px 330px #FFF, 686px 938px #FFF, 983px 710px #FFF, 1472px 1032px #FFF, 1890px 641px #FFF, 697px 1857px #FFF, 1567px 1741px #FFF, 1584px 656px #FFF, 1359px 1231px #FFF, 1640px 1120px #FFF, 1499px 1990px #FFF, 1085px 1772px #FFF, 507px 803px #FFF, 1552px 1619px #FFF, 1399px 1115px #FFF, 1746px 1294px #FFF, 779px 1324px #FFF, 1699px 1057px #FFF, 13px 1945px #FFF, 460px 1017px #FFF, 1992px 758px #FFF, 29px 1353px #FFF, 1633px 252px #FFF, 717px 377px #FFF, 744px 824px #FFF, 381px 557px #FFF, 1447px 580px #FFF, 1669px 541px #FFF, 27px 149px #FFF, 6px 936px #FFF, 967px 579px #FFF, 1178px 1490px #FFF, 1345px 1726px #FFF, 1966px 821px #FFF, 1714px 273px #FFF, 224px 128px #FFF, 65px 1893px #FFF, 981px 1726px #FFF, 1288px 1808px #FFF, 1315px 974px #FFF, 1816px 583px #FFF, 1212px 1451px #FFF, 1008px 209px #FFF, 1924px 1186px #FFF, 1395px 520px #FFF, 367px 1827px #FFF, 831px 1133px #FFF, 37px 473px #FFF, 517px 607px #FFF, 187px 1597px #FFF, 549px 232px #FFF, 582px 1099px #FFF, 1967px 927px #FFF, 547px 1546px #FFF, 89px 1753px #FFF, 1421px 766px #FFF, 1575px 725px #FFF, 737px 5px #FFF, 1998px 1672px #FFF, 631px 60px #FFF, 564px 803px #FFF, 164px 54px #FFF, 1179px 417px #FFF, 915px 1871px #FFF, 1134px 1499px #FFF, 47px 119px #FFF, 751px 1664px #FFF, 1052px 1621px #FFF, 86px 1144px #FFF, 1562px 600px #FFF, 971px 965px #FFF, 1918px 1085px #FFF, 351px 1815px #FFF, 4px 785px #FFF, 318px 1073px #FFF, 1955px 936px #FFF, 1073px 1861px #FFF, 57px 1427px #FFF, 732px 1804px #FFF, 729px 1313px #FFF, 376px 1771px #FFF, 1645px 1196px #FFF, 902px 1770px #FFF, 1068px 635px #FFF, 726px 275px #FFF, 148px 797px #FFF, 1468px 1484px #FFF, 309px 146px #FFF, 1123px 1450px #FFF, 930px 1190px #FFF, 622px 353px #FFF, 1868px 1726px #FFF, 1766px 1566px #FFF, 1714px 1720px #FFF;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 291px 758px #FFF, 757px 443px #FFF, 221px 856px #FFF, 317px 664px #FFF, 1818px 71px #FFF, 579px 1673px #FFF, 751px 490px #FFF, 429px 593px #FFF, 1742px 1184px #FFF, 732px 1872px #FFF, 1500px 1812px #FFF, 121px 1275px #FFF, 1992px 797px #FFF, 144px 1325px #FFF, 194px 489px #FFF, 257px 656px #FFF, 1043px 307px #FFF, 368px 141px #FFF, 1259px 1907px #FFF, 951px 31px #FFF, 484px 954px #FFF, 1179px 299px #FFF, 377px 1197px #FFF, 810px 1315px #FFF, 413px 187px #FFF, 1150px 595px #FFF, 1259px 1047px #FFF, 448px 688px #FFF, 543px 412px #FFF, 162px 1961px #FFF, 25px 722px #FFF, 1983px 1037px #FFF, 114px 132px #FFF, 762px 956px #FFF, 1794px 485px #FFF, 668px 1852px #FFF, 191px 665px #FFF, 1820px 688px #FFF, 676px 345px #FFF, 1083px 1848px #FFF, 1914px 1169px #FFF, 932px 833px #FFF, 908px 1098px #FFF, 1684px 435px #FFF, 1415px 777px #FFF, 791px 332px #FFF, 1443px 1748px #FFF, 1736px 1463px #FFF, 845px 1614px #FFF, 307px 980px #FFF, 1786px 391px #FFF, 745px 1917px #FFF, 664px 313px #FFF, 417px 10px #FFF, 242px 541px #FFF, 449px 1443px #FFF, 1270px 441px #FFF, 446px 1552px #FFF, 1032px 1251px #FFF, 805px 1117px #FFF, 98px 364px #FFF, 87px 1596px #FFF, 1882px 77px #FFF, 853px 932px #FFF, 959px 1918px #FFF, 673px 1710px #FFF, 668px 1206px #FFF, 42px 1440px #FFF, 866px 1340px #FFF, 1912px 927px #FFF, 1363px 935px #FFF, 1886px 1434px #FFF, 964px 340px #FFF, 52px 142px #FFF, 1752px 1719px #FFF, 1050px 1223px #FFF, 1977px 1499px #FFF, 11px 1561px #FFF, 1444px 93px #FFF, 1907px 1723px #FFF, 1949px 1273px #FFF, 948px 388px #FFF, 1918px 587px #FFF, 1758px 462px #FFF, 1984px 201px #FFF, 877px 741px #FFF, 383px 665px #FFF, 1164px 1635px #FFF, 1740px 778px #FFF, 1371px 76px #FFF, 1554px 341px #FFF, 1055px 1822px #FFF, 1469px 1817px #FFF, 480px 89px #FFF, 1630px 688px #FFF, 1021px 1699px #FFF, 1140px 1319px #FFF, 515px 406px #FFF, 862px 831px #FFF, 1865px 1051px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 291px 758px #FFF, 757px 443px #FFF, 221px 856px #FFF, 317px 664px #FFF, 1818px 71px #FFF, 579px 1673px #FFF, 751px 490px #FFF, 429px 593px #FFF, 1742px 1184px #FFF, 732px 1872px #FFF, 1500px 1812px #FFF, 121px 1275px #FFF, 1992px 797px #FFF, 144px 1325px #FFF, 194px 489px #FFF, 257px 656px #FFF, 1043px 307px #FFF, 368px 141px #FFF, 1259px 1907px #FFF, 951px 31px #FFF, 484px 954px #FFF, 1179px 299px #FFF, 377px 1197px #FFF, 810px 1315px #FFF, 413px 187px #FFF, 1150px 595px #FFF, 1259px 1047px #FFF, 448px 688px #FFF, 543px 412px #FFF, 162px 1961px #FFF, 25px 722px #FFF, 1983px 1037px #FFF, 114px 132px #FFF, 762px 956px #FFF, 1794px 485px #FFF, 668px 1852px #FFF, 191px 665px #FFF, 1820px 688px #FFF, 676px 345px #FFF, 1083px 1848px #FFF, 1914px 1169px #FFF, 932px 833px #FFF, 908px 1098px #FFF, 1684px 435px #FFF, 1415px 777px #FFF, 791px 332px #FFF, 1443px 1748px #FFF, 1736px 1463px #FFF, 845px 1614px #FFF, 307px 980px #FFF, 1786px 391px #FFF, 745px 1917px #FFF, 664px 313px #FFF, 417px 10px #FFF, 242px 541px #FFF, 449px 1443px #FFF, 1270px 441px #FFF, 446px 1552px #FFF, 1032px 1251px #FFF, 805px 1117px #FFF, 98px 364px #FFF, 87px 1596px #FFF, 1882px 77px #FFF, 853px 932px #FFF, 959px 1918px #FFF, 673px 1710px #FFF, 668px 1206px #FFF, 42px 1440px #FFF, 866px 1340px #FFF, 1912px 927px #FFF, 1363px 935px #FFF, 1886px 1434px #FFF, 964px 340px #FFF, 52px 142px #FFF, 1752px 1719px #FFF, 1050px 1223px #FFF, 1977px 1499px #FFF, 11px 1561px #FFF, 1444px 93px #FFF, 1907px 1723px #FFF, 1949px 1273px #FFF, 948px 388px #FFF, 1918px 587px #FFF, 1758px 462px #FFF, 1984px 201px #FFF, 877px 741px #FFF, 383px 665px #FFF, 1164px 1635px #FFF, 1740px 778px #FFF, 1371px 76px #FFF, 1554px 341px #FFF, 1055px 1822px #FFF, 1469px 1817px #FFF, 480px 89px #FFF, 1630px 688px #FFF, 1021px 1699px #FFF, 1140px 1319px #FFF, 515px 406px #FFF, 862px 831px #FFF, 1865px 1051px #FFF;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
#content {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: transparent;
}
.title {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title img {
  height: 10em;
  border-radius: 50%;
}
.title .text {
  margin: 0 0 0 2.5em;
  user-select: none;
}
.title .text h1,
.title .text p {
  margin: 5px 10px;
}
.title .text p {
  color: rgba(255, 255, 255, 0.45);
}
.title .text .localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 0 10px;
}
.title .text .localisation:hover svg {
  fill: #DC2850;
  transition: fill 0.25s ease-in-out;
}
.title .text .localisation a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  font-size: 0.8em;
  font-weight: 400;
}
.title .text .localisation svg {
  fill: #28DCB4;
  transition: fill 0.25s ease-in-out;
  height: 20px;
  width: auto;
}
#mouse-scroll {
  style: block;
  position: absolute;
  z-index: 9999;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
}
#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
#mouse-scroll .down-arrow-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-dekay: 0.3s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}
@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.presentation {
  width: 70%;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
}
.presentation h2 {
  margin: 25px auto;
  font-weight: 800;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.presentation p {
  font-size: 0.9em;
  line-height: 1.3em;
}
.presentation:first-child h2 {
  margin-top: 0;
}
.skills {
  width: 80%;
  margin: 0 auto 25px auto;
  display: flex;
  flex-direction: column;
}
.skills h2 {
  margin: 25px auto;
  font-weight: 800;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.skills .container {
  border-top: 3px solid #435a74;
  width: 100%;
  min-height: 200px;
}
.skills .container ul.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.skills .container ul.list li {
  margin: 0 auto;
  border-bottom: 1px solid #435a74;
  transition: border-bottom-color 0.15s ease-in-out;
}
.skills .container ul.list li p {
  font-weight: 700;
  margin: 0;
  padding: 5px;
  user-select: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.15s ease-in-out;
}
.skills .container ul.list li.selected,
.skills .container ul.list li:hover {
  cursor: pointer;
  border-bottom: 1px solid #DC2850;
  transition: border-bottom-color 0.15s ease-in-out;
}
.skills .container ul.list li.selected p,
.skills .container ul.list li:hover p {
  border-bottom: 3px solid #DC2850;
  transition: border-bottom-color 0.15s ease-in-out;
}
.skills .container .box {
  backdrop-filter: blur(5px);
  display: none;
  flex-direction: column;
  border: 3px solid #435a74;
  border-radius: 7px;
  padding: 25px;
  width: calc(100% - 50px);
  margin: 0 auto;
}
.skills .container .box p {
  font-size: 0.8em;
  width: 90%;
  color: #fff;
}
.skills .container .box a {
  width: 90%;
  color: #fff;
}
.skills .container .box .skills_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  grid-gap: 10px;
  margin: 20px auto auto auto;
  width: 90%;
}
.skills .container .box .skills_list .skill {
  padding: 10px;
  margin: auto;
  width: 175px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  user-select: none;
  background: linear-gradient(90deg, #DC2850 0%, #d9496a 49.9%, #c67f8e 100%);
  transition: background 0.15s ease-in-out;
}
.skills .container .box .skills_list .skill p {
  margin: auto 20px;
  font-weight: 700;
}
.skills .container .box .skills_list .skill:hover {
  background: linear-gradient(90deg, #dd496a 0%, #dd8196 49.9%, #d9c2c7 100%);
  transition: background 0.15s ease-in-out;
}
.projects {
  width: 80%;
  margin: 100px auto 25px auto;
  display: flex;
  flex-direction: column;
}
.projects h2 {
  margin: 25px auto 100px auto;
  font-weight: 800;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.projects p.no_project {
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  margin: auto;
  backdrop-filter: blur(5px);
  border: 2px solid #435a74;
  border-radius: 7px;
}
.projects .project_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 60px), 1fr));
  grid-gap: 10px;
}
.projects .project_list .project {
  width: calc(100% - 60px);
  margin: 5px;
  padding: 20px 25px;
  backdrop-filter: blur(5px);
  border: 3px solid #435a74;
  border-radius: 7px;
}
.projects .project_list .project .head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .project_list .project .head h3 {
  margin: 0 0 0 10px;
  font-weight: 700;
}
.projects .project_list .project .head .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: auto;
}
.projects .project_list .project .head .links svg {
  fill: #28DCB4;
  width: 28px;
  height: auto;
}
.projects .project_list .project .technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .project_list .project .technologies p {
  width: fit-content;
  align-items: center;
  font-size: 0.75em;
  font-weight: 700;
  height: 100%;
  background: linear-gradient(90deg, #28DCB4 0%, #49d9c7 49.9%, #7fd9c2 100%);
  transition: background 0.15s ease-in-out;
  color: #000;
  user-select: none;
  padding: 15px 20px;
  margin: auto 5px;
  border-radius: 7px;
}
.projects .project_list .project .technologies p:hover {
  background: linear-gradient(90deg, #49d9c7 0%, #7fd9c2 49.9%, #c2d9c2 100%);
  transition: background 0.15s ease-in-out;
}
.contact {
  width: 80%;
  margin: 150px auto 25px auto;
  display: flex;
  flex-direction: column;
}
.contact h2 {
  margin: 25px auto 35px auto;
  font-weight: 800;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin: 0 auto;
}
.contact .links .link {
  height: 50px;
  border-bottom: 1px solid #435a74;
  margin: 5px auto 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact .links .link a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.contact .links .link svg {
  fill: #28DCB4;
}
.contact .links .link:hover a {
  transform: translateX(10px);
  transition: all 0.15s ease-in-out;
}
.contact .cv {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  text-decoration: none;
  color: #fff;
  margin: 40px auto;
  padding: 5px 20px;
  border-radius: 50px;
  background: linear-gradient(64deg, #141d27 0%, #090a0f 100%);
  font-weight: 800;
}
.contact .cv svg {
  fill: #28DCB4;
  margin: auto 20px auto 2px;
  height: 24px;
  width: 24px;
}
.contact .cv:hover svg {
  height: 28px;
  width: 28px;
  margin: auto 18px auto 0;
}
@media (max-width: 1000px) {
  .title img {
    height: 10em;
  }
  .title h1,
  .title p {
    font-size: 2em;
  }
  .projects .project_list {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 60px), 1fr));
  }
}
/*# sourceMappingURL=home.css.map */