@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');
body {
  font-family: "Raleway", system-ui;
  color: #fff;
  background: #151515;
}
main {
  margin-top: 120px;
}
* {
  box-sizing: border-box;
}
